$black: #333;
$black_light: #4a4a4a;
$grey: #9b9b9b;
$grey_light: #d8d8d8;
$white: #fff;
$green: #4caf50;
$red: #e43a35;

$shadow_default: 0 1px 2px 0 rgba(0, 0, 0, 0.24),
  0 1px 3px 0 rgba(0, 0, 0, 0.12);
