@import "./includes/settings";

@media (min-width: 0) {
  .purchase-filter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__field {
      width: 100%;
      &.sort {
        display: flex;
        justify-content: flex-end;
        align-items: center;
      }
      .caption {
        color: $grey;
        pointer-events: none;
        font-size: 14px;
        padding: 2px;
        background-color: $white;
      }
      .field-select {
        height: 44px;
        padding: 0 15px;
        font-size: 14px;
        color: $black;
        outline: 0;
        border: 1px solid $grey;
        border-radius: 5px;
        background-color: $white;
        margin: 0 10px;
      }
      .sort-direction {
        display: inline;
      }
    }
  }
}
